* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: #c9d1d9;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: #0d1117;
    border-bottom: 1px solid #30363d;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.left, .center, .right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.github-icon {
    font-size: 28px;
    color: white;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
}

/* SEARCH BAR */
.search-box {
    display: flex;
    align-items: center;
    background: #161b22;
    border: 1px solid #30363d;
    padding: 6px 10px;
    border-radius: 6px;
    width: 260px;
    margin-left: 605px;
    gap: 8px;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: #c9d1d9;
    width: 100%;
}

/* ICON BUTTON */
.icon-btn {
    background: transparent;
    border: 1px solid #30363d;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    color: #c9d1d9;
}

.icon-btn:hover {
    background: #21262d;
}

/* PROFILE */
.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #30363d;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #161b22;
    border-right: 1px solid #30363d;
    padding: 20px;
    position: fixed;
    top: 60px;
    left: 0;
    transition: 0.3s;
}

.sidebar h3 {
    margin-bottom: 20px;
}

.sidebar ul li {
    list-style: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar ul li:hover {
    background: #21262d;
}

/* MAIN CONTENT */
.content {
    margin-left: 250px;
    padding: 25px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: #21262d;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #30363d;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .content {
        margin-left: 0;
    }
    #sidebar {
        left: -250px;
    }
    #sidebar.active {
        left: 0;
    }
}

@media (max-width: 600px) {
    .search-box {
        display: none;
    }
}
